<%- include('../layout/header') -%>

  <body class="g-sidenav-show bg-gray-200">
    <%- include('../layout/menu-left') -%>
      <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <%- include('../layout/menu-top') -%>
          <div class="container-fluid py-4">
            <% if(error){ %>

              <div class="alert alert-danger" >
                <strong><%= message %></strong>
              </div>
            <br>
              <% } %>
            <div class="row">
              <div class="col-12">
                <div class="card my-4">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                      <h6 class="text-white text-capitalize ps-3">
                        Criar um Novo Aluno
                      </h6>
                    </div>
                  </div>
                  <div class="card-body px-0 pb-2">
                    <div class="container">
                      <form action="/createClient" method="post" name="form">
                        <div class="row">
                          <div class="col">
                            <label for="nome">nome:</label>
                            <input id="nome" name="nome" type="text" class="form-control" placeholder="João da Silva" />
                          </div>
                          <div class="col">
                            <label for="email">email:</label>
                            <input id="email" name="email" type="email" class="form-control"
                              placeholder="exemplo@exemplo.com.br" />
                          </div>
                        </div>
                        <br>

                        <div class="row">
                          <div class="col">
                            <label for="password">senha:</label>
                            <input type="password" name="password" class="form-control" placeholder="******" />
                          </div>
                          <div class="col">
                            <label for="nasc">data nasc.:</label>
                            <input type="date" name="nasc" class="form-control" placeholder="01/05/1989" />
                          </div>
                        </div>
                        <br>

                        <div class="row">
                          <div class="col">
                            <label for="logradouro">logradouro</label>
                            <input type="text" name="logradouro" class="form-control"
                              placeholder="rua joão da silva" />
                          </div>
                          <div class="col">
                            <label for="numero">numero</label>
                            <input type="number" name="numero" class="form-control"
                              placeholder="5" />
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col">
                            <label for="bairro">bairro:</label>
                            <input type="text" name="bairro" class="form-control" placeholder="São João" />
                          </div>
                          <div class="col">
                            <label for="uf">UF:</label>
                            <input type="text" name="uf" class="form-control" placeholder="RJ" />
                          </div>
                          <div class="col">
                            <label for="cep">CEP:</label>
                            <input type="text" name="cep" class="form-control" placeholder="22222-222" />
                          </div>
                        </div>
                        <br>

                        <div class="row">
                          <div class="col">
                            <label for="telefone">telefone:</label>
                            <input type="text" name="telefone" class="form-control" data-mask="(00) 00000-0000"
                              placeholder="11999999999" />
                          </div>
                          <div class="col">
                            <label for="vencimento">dia de pagamento:</label>
                            <input name="vencimento" type="number" class="form-control" placeholder="1" />
                          </div>
                        </div>
                        <br>

                        <div class="row">
                          <div class="col">
                            <label for="modalidade">Modalidade:</label>
                            <input class="form-control" name="modalidade">
                          </div>
                          <div class="col">
                            <label for="escola">Escola:</label>
                            <input name="escola" type="text" class="form-control" placeholder="Escola Exemplo" />
                          </div>
                          <div class="col">
                            <label for="mensalidade">Mensalidade:</label>
                            <input name="mensalidade" type="text" class="form-control" placeholder="R$ 300,00" />
                          </div>
                        </div>
                        <br>

                        <div class="row">
                          <div class="col">
                            <label for="materias">Matérias:</label><br>
                            <div class="form-check  d-flex justify-content-between">
                              <% data.forEach(function(m){ %>
                                <input name="materias[]" class="form-check-input" type="checkbox" value="<%=m.id %>"
                                  id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  <%= m.nome %>
                                </label>
                                <% }) %>
                            </div>
                          </div>
                        </div>
                        <br>

                        <div class="row">
                          <div class="col">
                            <label for="instagram">Instagram:</label>
                            <input name="instagram" type="text" class="form-control" placeholder="@username" />
                          </div>
                          <div class="col">
                            <label for="pagamento">Status Pagamento:</label>
                            <select class="form-control" name="payment_status">
                              <option id="1" value="pago">Pago</option>
                              <option id="2" value="pendente">Pendente</option>
                              <option id="3" value="atrasado">Atrasado</option>
                            </select>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                            <input type="submit" value="Criar" class="btn btn-primary" />
                        </div>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
      </main>
      <%- include('../layout/plugin') -%>
        <%- include('../layout/scripts') -%>
  </body>